{% load staticfiles %}
<link type="text/css" rel="stylesheet" href="{% static 'style/default.css' %}"/>

<h1>HomeBaking</h1>
<button type="button" onclick=document.location.href="/action/hue/group/1/on">Office On</button>
<button type="button" onclick=document.location.href="/action/hue/group/1/off">Office Off</button>
<br/>
<button type="button" onclick=document.location.href="/action/hue/group/2/on">Great Room On</button>
<button type="button" onclick=document.location.href="/action/hue/group/2/off">Great Room Off</button>
<p class="status">{{ status }}</p>
